<table>
    <tbody>
    <tr>
        <td width="33%">
            <img src="http://guides.gamepressure.com/dayzstandalone/gfx/word/346310347.png"
                 alt="Controls - 1. Basics - DayZ - Game Guide and Walkthrough">
        </td>
        <td width="33%">&nbsp;</td>
        <td width="34%"><p>Controls</p></td>
    </tr>
    <tr>
        <td>
            <img src="http://guides.gamepressure.com/dayzstandalone/gfx/word/346310363.png"
                 alt="Hold - 1. Basics - DayZ - Game Guide and Walkthrough">
        </td>
        <td><p>Hold:</p>
            <p>Press twice to block.</p></td>
        <td><p>lean out</p></td>
    </tr>
    <tr>
        <td>
            <img src="http://guides.gamepressure.com/dayzstandalone/gfx/word/346310379.png"
                 alt="crouch - 1. Basics - DayZ - Game Guide and Walkthrough">
        </td>
        <td>&nbsp;</td>
        <td><p>crouch</p></td>
    </tr>
    <tr>
        <td>
            <img src="http://guides.gamepressure.com/dayzstandalone/gfx/word/346310394.png"
                 alt="lay down - 1. Basics - DayZ - Game Guide and Walkthrough">
        </td>
        <td>&nbsp;</td>
        <td><p>lay down</p></td>
    </tr>
    <tr>
        <td>
            <img src="http://guides.gamepressure.com/dayzstandalone/gfx/word/346310410.png"
                 alt="get up - 1. Basics - DayZ - Game Guide and Walkthrough">
        </td>
        <td>&nbsp;</td>
        <td><p>get up</p></td>
    </tr>
    <tr>
        <td>
            <img src="http://guides.gamepressure.com/dayzstandalone/gfx/word/346310425.png"
                 alt="equipment - 1. Basics - DayZ - Game Guide and Walkthrough">
        </td>
        <td>&nbsp;</td>
        <td><p>equipment</p></td>
    </tr>
    <tr>
        <td>
            <img src="http://guides.gamepressure.com/dayzstandalone/gfx/word/346310441.png"
                 alt="Press twice - 1. Basics - DayZ - Game Guide and Walkthrough">
        </td>
        <td><p>Press twice</p></td>
        <td><p>sprint</p></td>
    </tr>
    <tr>
        <td>
            <img src="http://guides.gamepressure.com/dayzstandalone/gfx/word/346310457.png"
                 alt="Hold - 1. Basics - DayZ - Game Guide and Walkthrough">
        </td>
        <td><p>Hold:</p>
            <p>Press twice to block.</p></td>
        <td><p>slow walk</p></td>
    </tr>
    <tr>
        <td>
            <img src="http://guides.gamepressure.com/dayzstandalone/gfx/word/346310472.png"
                 alt="jump or walk over a small obstacle - 1. Basics - DayZ - Game Guide and Walkthrough">

        </td>
        <td>&nbsp;</td>
        <td><p>jump or walk over a small obstacle</p></td>
    </tr>
    <tr>
        <td>
            <img src="http://guides.gamepressure.com/dayzstandalone/gfx/word/346310488.png"
                 alt="change the status of the item in your hand, e - 1. Basics - DayZ - Game Guide and Walkthrough">

        </td>
        <td>&nbsp;</td>
        <td><p>change the status of the item in your hand, e.g. shake hand, prepare weapon.</p></td>
    </tr>
    <tr>
        <td>
            <img src="http://guides.gamepressure.com/dayzstandalone/gfx/word/346310503.png"
                 alt="zero the rifle - 1. Basics - DayZ - Game Guide and Walkthrough">
        </td>
        <td>&nbsp;</td>
        <td><p>zero the rifle</p></td>
    </tr>
    <tr>
        <td>
            <img src="http://guides.gamepressure.com/dayzstandalone/gfx/word/346310519.png"
                 alt="Hold - 1. Basics - DayZ - Game Guide and Walkthrough">
        </td>
        <td><p>Hold:</p>
            <p>Press twice to block.</p></td>
        <td><p>look around freely</p></td>
    </tr>
    <tr>
        <td>
            <img src="http://guides.gamepressure.com/dayzstandalone/gfx/word/346310535.png"
                 alt="keys from 0 to 9 - 1. Basics - DayZ - Game Guide and Walkthrough">
        </td>
        <td><p>keys from 0 to 9</p></td>
        <td><p>choose the item from the quick access bar.</p></td>
    </tr>
    <tr>
        <td>
            <img src="http://guides.gamepressure.com/dayzstandalone/gfx/word/346310550.png"
                 alt="switching between views - 1. Basics - DayZ - Game Guide and Walkthrough">

        </td>
        <td>&nbsp;</td>
        <td><p>switching between views</p></td>
    </tr>
    <tr>
        <td>
            <img src="http://guides.gamepressure.com/dayzstandalone/gfx/word/346310566.png"
                 alt="rise your hand, as a sign of no bad intentions - 1. Basics - DayZ - Game Guide and Walkthrough">

        </td>
        <td>&nbsp;</td>
        <td><p>rise your hand, as a sign of no bad intentions</p></td>
    </tr>
    <tr>
        <td>
            <img src="http://guides.gamepressure.com/dayzstandalone/gfx/word/346310581.png"
                 alt="rise both hands, as a sign of surrender - 1. Basics - DayZ - Game Guide and Walkthrough">

        </td>
        <td>&nbsp;</td>
        <td><p>rise both hands, as a sign of surrender</p></td>
    </tr>
    <tr>
        <td>
            <img src="http://guides.gamepressure.com/dayzstandalone/gfx/word/346310597.png"
                 alt="shifting to a posture position - 1. Basics - DayZ - Game Guide and Walkthrough">

        </td>
        <td>&nbsp;</td>
        <td><p>shifting to a posture position</p></td>
    </tr>
    <tr>
        <td>
            <img src="http://guides.gamepressure.com/dayzstandalone/gfx/word/346310613.png"
                 alt="show middle finger - 1. Basics - DayZ - Game Guide and Walkthrough">
        </td>
        <td>&nbsp;</td>
        <td><p>show middle finger</p></td>
    </tr>
    <tr>
        <td>
            <img src="http://guides.gamepressure.com/dayzstandalone/gfx/word/346310628.png"
                 alt="clasp - 1. Basics - DayZ - Game Guide and Walkthrough">
        </td>
        <td>&nbsp;</td>
        <td><p>clasp</p></td>
    </tr>
    <tr>
        <td>
            <img src="http://guides.gamepressure.com/dayzstandalone/gfx/word/346310644.png"
                 alt="point something with your finger - 1. Basics - DayZ - Game Guide and Walkthrough">

        </td>
        <td>&nbsp;</td>
        <td><p>point something with your finger</p></td>
    </tr>
    <tr>
        <td>
            <img src="http://guides.gamepressure.com/dayzstandalone/gfx/word/346310659.png"
                 alt="show OK sign - 1. Basics - DayZ - Game Guide and Walkthrough">
        </td>
        <td>&nbsp;</td>
        <td><p>show OK sign</p></td>
    </tr>
    <tr>
        <td>
            <img src="http://guides.gamepressure.com/dayzstandalone/gfx/word/346310675.png"
                 alt="Display a list of players on the server - 1. Basics - DayZ - Game Guide and Walkthrough">

        </td>
        <td>&nbsp;</td>
        <td><p>Display a list of players on the server</p></td>
    </tr>
    <tr>
        <td>
            <img src="http://guides.gamepressure.com/dayzstandalone/gfx/word/346310691.png"
                 alt="Hold - 1. Basics - DayZ - Game Guide and Walkthrough">
        </td>
        <td><p>Hold:</p></td>
        <td><p>activate the microphone</p></td>
    </tr>
    <tr>
        <td>
            <img src="http://guides.gamepressure.com/dayzstandalone/gfx/word/346310706.png"
                 alt="local chat - 1. Basics - DayZ - Game Guide and Walkthrough">
        </td>
        <td>&nbsp;</td>
        <td><p>local chat</p></td>
    </tr>
    <tr>
        <td>
            <img src="http://guides.gamepressure.com/dayzstandalone/gfx/word/346310722.png"
                 alt="action, e - 1. Basics - DayZ - Game Guide and Walkthrough">
        </td>
        <td>&nbsp;</td>
        <td><p>action, e.g. drink, eat, reload</p></td>
    </tr>
    <tr>
        <td>
            <img src="http://guides.gamepressure.com/dayzstandalone/gfx/word/346310737.png"
                 alt="Switching between available actions, if there is more than one - 1. Basics - DayZ - Game Guide and Walkthrough">

        </td>
        <td>&nbsp;</td>
        <td><p>Switching between available actions, if there is more than one</p></td>
    </tr>
    <tr>
        <td>
            <img src="http://guides.gamepressure.com/dayzstandalone/gfx/word/346310753.png"
                 alt="Magnifying with a sight and without - 1. Basics - DayZ - Game Guide and Walkthrough">

        </td>
        <td>&nbsp;</td>
        <td><p>Magnifying with a sight and without</p></td>
    </tr>
    <tr>
        <td>
            <img src="http://guides.gamepressure.com/dayzstandalone/gfx/word/346310769.png"
                 alt="fire - 1. Basics - DayZ - Game Guide and Walkthrough">
        <td>&nbsp;</td>
        <td><p>fire</p></td>
    </tr>
    </tbody>
</table>