{% extends "base_profiles.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load thumbnail %}
{% load user_profile_tags %}

{% block title %}{% trans "Назначить модератора" %}{% endblock %}

{% block profilecontext %}
    <div class="col-md-6 col-md-offset-3">
        <div class="well">
            <h3 class="line">{% trans "Назначить модератора"|upper %}</h3>
            <form method="post" action="">
                {% csrf_token %}
                {% bootstrap_form form show_label=False show_help=False %}
                <hr>
                <ul class="list-inline">
                    <li><input type="submit" class="btn btn-sm btn-link btn-border " value="{% trans 'Назначить' %}"/>
                    </li>
                    <li><a href="{% url 'group_profile' %}"
                           class="btn btn-sm btn-link btn-border ">{% trans "Назад" %}</a></li>
                </ul>
            </form>
        </div>
    </div>
    <script>
        require(['jquery', 'module_select2'], function ($, select2) {
            select2.init('#id_member');
        });
    </script>
{% endblock %}