{% load i18n %}

{% blocktrans %}Приветствуем, {% endblocktrans %} {% if user.get_full_name %}{{ user.get_full_name }}{% else %}{{ user }}{% endif %}.
{% blocktrans %}
Вы получили это письмо, потому что от вас поступила заявка на сброс пароля на сайте {{ domain }}.
Если вы не хотите сбрасывать пароль, пожалуйста, игнорируйте это сообщение!
{% endblocktrans %}
{% blocktrans %}
Для сброса пароля, пожалуйста, перейдите по ссылке или скопируйте ее в ваш браузер:
{% endblocktrans %}
{{ protocol }}://{{ domain }}{% url 'auth_password_reset_confirm' uid token %}

{% blocktrans %}Ваше имя пользователя, если вы забыли:{% endblocktrans %} {{ user.username }}

----
{% blocktrans %}С уважением{% endblocktrans %}, {% blocktrans %}администрация сайта{% endblocktrans %} {{ domain }}.


{# This is used by django.contrib.auth #}
