{% extends "base_content.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load common %}

{% block title %}{% trans "Сброс пароля" %}{% endblock %}

{% block content %}

    {% trans 'Сообщи нам адрес электронной почты, и мы отправим инструкции по сбросу пароля. Если ты не можешь вспомнить имя пользователя или адрес электронной почты, обратись в службу поддержки.' as msg %}

    <div class="col-md-6 col-md-offset-3">
        <div class="well">
            <h3 class="line">{% trans 'Сброс пароля'|upper %}</h3>
            <p><span class="glyphicon glyphicon-info-sign"></span> {{ msg }}</p>
            <form method="post" action="">
                {% csrf_token %}
                {% bootstrap_form form show_label=False %}
                <ul class="list-inline">
                    <li><input type="submit" class="btn btn-link btn-block btn-border"
                               value="{% trans 'Сбросить пароль' %}"/></li>
                    <li><a href="#" onclick="window.history.back(); return false;"
                           class="btn btn-link btn-block btn-border">{% trans "Назад" %}</a></li>
                </ul>
            </form>
        </div>
    </div>

{% endblock %}
