{% extends "base_profiles.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}{% trans "Удалить анонс стрима" %}{% endblock %}

{% block profilecontext %}
    <div class="col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4 top-offset-5">
        <div class="panel panel-default">
            <div class="panel-body">
                <form method="post" action="">
                    {% csrf_token %}
                    <div class="col-md-6">
                        <input type="submit" class="btn btn-link btn-border" value="{% trans 'Удалить' %}"/>
                    </div>
                    <div class="col-md-6">
                        <a href="#" onclick="window.history.back(); return false;"
                           class="btn btn-link  btn-border">{% trans "Отмена" %}</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}