{% extends "base_content.html" %}
{% load i18n %}
{% load thumbnail %}
{% load static %}

{% block meta %}{% trans 'FAQ. Часто задаваемые вопросы.' %}{% endblock %}
{% block title %}{% trans "FAQ"|upper %}{% endblock %}

{% block content %}
    <h1 class="line index-header" role="heading"><span
            class="fa fa-info-circle text-muted"></span> {% trans 'FAQ. Часто задаваемые вопросы'|upper %}</h1>

    <ul class="list-unstyled bottom-offset-20">
        <li><span class="fa fa-angle-right"></span> <a
                href="#как-создать-стрим-профиль">{% trans "Как запланировать стрим трансляцию?" %}</a></li>
        <li><span class="fa fa-angle-right"></span> <a
                href="#как-активировать-канал">{% trans "Как активировать стрим канал для пользователей?" %}</a></li>
        <li><span class="fa fa-angle-right"></span> <a
                href="#зачем-указывать-часовой-пояс">{% trans "Зачем указывать свой часовой пояс?" %}</a></li>
        <li><span class="fa fa-angle-right"></span> <a
                href="#как-вступить-в-группу">{% trans "Как вступить в группу?" %}</a></li>
        <li><span class="fa fa-angle-right"></span> <a
                href="#как-опубликовать-свой-гайд">{% trans "Как опубликовать свой гайд?" %}</a></li>
    </ul>
    <div class="well well-sm">
        <h3><a name="как-создать-стрим-профиль"></a>{% trans 'Как запланировать стрим трансляцию?' %}</h3>
        <p>
            Необходимо понимать, что сайт является агрегатором стрим трансляций, и пользователь получает возможность
            только
            отображать свой стрим канал на нашем сайте и в своих группах.
            <br>
            Для планирования трансляции, необходимо чтобы был предварительно <a
                href="{% url 'stream_profile_create' %}">создан</a>
            или настроен стрим профиль пользователя. В профиле необходимо выбрать вашего провайдера и ввести
            соответствующий
            идентификатор. Данные настройки будут учитываться далее при создании стрим анонса.
            <br>
            Планирование трансляции и управление каналом невозможно без предварительно созданного анонса в
            <a href="{% url 'stream_profile' %}">стрим профиле</a> пользователя. В форме создания анонса необходимо
            ввести
            описание предстоящей трансляции, указать время начала и примерное время окончания стрима. Так же в случае
            если
            трансляция будет осуществляться провайдером отличным от веденного ранее в стрим профиле, можно указать
            данные нового провайдера. После успешного создания анонса, в <a
                href="{% url 'stream_index' %}">стрим-центре</a>
            во вкладке запланированные трансляции появится запись вашего будущего стрима.
        </p>
    </div>
    <div class="well well-sm">
        <h3><a name="как-активировать-канал"></a>{% trans 'Как активировать стрим канал для пользователей?' %}</h3>
        <p>
            В случае если пришло время начала трансляции, вам необходимо открыть доступ пользователям на страницу с
            вашим
            плеером. Для этого необходимо перейти в ваш канал и активировать последний. После активации канала, в
            стрим-центре
            появится запись об активности вашего стрима и пользователи смогу перейти на страницу канала.
            <br>
            Так же активация канала может быть автоматизирована, в случае выбранной настройки "Автоактивация канала" в
            стрим
            профиле пользователя. При приближении времени начала вашего стрима, указанного в анонсе, система сама его
            активирует.
            Задержка активации плеера может занимать до 5 минут.
        </p>
    </div>
    <div class="well well-sm">
        <h3><a name="зачем-указывать-часовой-пояс"></a>{% trans 'Зачем указывать свой часовой пояс?' %}</h3>
        <p>
            Указав свой часовой пояс, пользователь работает в местном времени. Особенно это актуально при создании стирм
            анонса.
            Пользователь создает анонс предстоящей стрим трансляции, а другие пользователи сайта видят анонс в
            перерасчете на свое местное время.
        </p>
    </div>
    <div class="well well-sm">
        <h3><a name="как-вступить-в-группу"></a>{% trans 'Как вступить в группу?' %}</h3>
        <p>
            Вступить в группу можно по приглашению владельца группы или подать заявку на публичной странице группы.
            После получения уведомления о приглашении, в профиле пользователя появится заявка, которую следует принять
            или отклонить. Пользователь может состоять одновременно в нескольких группах и быть основателем одной группы.
        </p>
    </div>
    <div class="well well-sm">
        <h3><a name="как-опубликовать-свой-гайд"></a>{% trans "Как опубликовать свой гайд на сайте?" %}</h3>
        <p>
            Гайды публикуется на сайте после проверки и правки публикации модераторами. Для передачи гайда на модерацию,
            просто снимите галочку "Черновик" в редакторе гайда. В случае успешной проверки, пользователю приходит оповещение
            об одобрении статьи.
        </p>
    </div>


{% endblock %}
