{% extends "base_profiles.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load static %}
{% load user_profile_tags %}

{% block title %}{% trans "Создать анонс" %}{% endblock %}

{% block profilecontext %}
    {{ form.media }}
    <div class="col-md-6 col-md-offset-3 top-offset-5">
        <div class="well">
            <h3 class="line">{% trans "Создать анонс" %}</h3>
            <form method="post" action="">
                {% csrf_token %}
                {% bootstrap_form form %}
                <hr>
                <ul class="list-inline">
                    <li><input type="submit" class="btn btn-sm btn-link btn-border" value="{% trans 'Создать' %}"/></li>
                    <li><a href="#" onclick="window.history.back(); return false;"
                           class="btn btn-sm btn-link  btn-border">{% trans "Назад" %}</a></li>
                </ul>
            </form>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script>
        require(['jquery', 'module_datepicker', 'module_select2'], function ($, datepicker, select2) {
            datepicker.init("#id_end_ts");
            datepicker.init("#id_start_ts");
            select2.init('#id_game');
        });
    </script>
{% endblock %}