{% load i18n %}
{% load bootstrap3 %}
{% load user_profile_tags %}

<form id="ajax-topic-form" method="post" action="javascript:void(null);" data-url="{{ topic.get_edit_url }}">
    {% csrf_token %}
    {% bootstrap_form form %}
    <input id="topic-submit" type="submit" class="btn btn-link btn-border btn-block" value="{% trans 'Отредактировать' %}" />
</form>

<script>
    require(['module_form_ajax', 'jquery'], function(form, $){
        $(function () {
            form.init('#ajax-topic-form');
{#            editor.init();#}
        });
    });
</script>