<h4>Twitch.tv</h4>
<p class="well well-sm">Чтобы узнать свой идентификатор (ID) на стримсервисе Twitch.tv необходимо авторизоваться под своим аккаунтом, зайти на страницу вашего плеера.
    В адресной строке браузера посмотрите на адрес вашего плеера, в нашем случае это <em>ru.twitch.tv/mmotimesru</em> <span class="label label-primary">mmotimesru</span> - это идентификатор.
</p>
<h4>YouTube.com</h4>
<p>
Здесь ID является идентификатор  трансляции. Ссылка на трансляцию является ссылкой на обычное видео на Youtube.
<em>gaming.youtube.com/watch?v=xjNIEket36I</em>
<span class="label label-primary">xjNIEket36I</span> - это идентификатор. </p>
<h4>HitBox.tv</h4>
<p class="well well-sm">
Чтобы узнать ID плеера на Hitbox.TV, авторизуйтесь на сайте и перейдите на страницу своего профиля, кликнув на круглую иконку с вашим аватаром и на ваш ник.
Обратите внимание на адресную строку вашего браузера. В адресной строке вашего браузера посмотрите на адрес вашего плеера, в нашем случае это <em>http://www.hitbox.tv/mmotimesru </em> <span class="label label-primary">mmotimesru</span> - это идентификатор. </p>
<h4>Cybergame.TV</h4>
<p>
Авторизуйтесь на Cybergame.TV, войдите в <b>Кабинет</b>.
Найдите пункт <b>Stream Name</b>. Имя вашего потока до системных символов <b>?key</b> - это идентификатор. </p>
